/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */


/*
 * Style overrides for Bootstrap.
 */
body {
    font-family: 'Open Sans Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    background-color: #EBEDE3;
}
h1, h3 {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
}
a {
    color: #3A87AD;
}
li {
    line-height: 22px;
}
@media (max-width: 979px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}


/*
 * Style overrides for jquery custom scrollbars plugin.
 */
.mCSB_container {
    margin-right: 15px;
}


/*
 * Style overrides for jquery context menu plugin.
 */
.context-menu-list {
    box-shadow: 0px 1px 4px 1px rgb(180, 182, 169), 2px 2px 1px 0px rgb(255, 255, 255) inset;
}
.context-menu-item {
    font-family: 'Open Sans Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    padding: 4px 10px;
    background-color: #F5F5F5;
}
.context-menu-item.hover {
    background-color: #3A87AD;
    color: white;
}


/*
 * Notifications.
 */
.alert {
    padding: 15px 35px 12px 20px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 3px 3px 0px 0px rgb(247, 236, 181);
}
.alert-error {
    box-shadow: 3px 3px 0px 0px rgb(228, 185, 185);
}
.alert-info {
    box-shadow: 3px 3px 0px 0px rgb(175, 217, 238);
}
.alert-success {
    box-shadow: 3px 3px 0px 0px rgb(193, 226, 179);
}


/*
 * Footer.
 */
footer {
    text-align: center;
    border-top: solid 3px #5A5E54;
    color: white;
    padding-top: 20px;
    background: #6C7065;
    min-height: 100px;
}
footer a {
    color: white;
}
footer a:hover, footer a:focus {
    color: white;
    text-decoration: underline;
}
footer ul {
    margin: 0px;
}
footer li {
    display: inline-block;
    font-size: 0.85em;
    padding: 0px 10px;
}


/*
 * Buttons.
 */
.btn {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 29px;
}
.btn-small {
    font-size: 1em;
}
.btn-mini {
    font-size: 0.9em;
}
.btn.ur-btn-text-left {
    text-align: left;
    padding-left: 10px;
}
.btn-ur-draggable-item {
    font-family: 'Open Sans Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}


/*
 * Drag and drop.
 */
li a.ur-droppable-active {
    background-color: #78BACE;
    color: white;
}


/*
 * Navbar.
 */
.navbar-fixed-top + div {
    padding-top: 110px;
}
@media (max-width: 979px) {
    .navbar-fixed-top + div {
        padding-top: 0px;
    }
}
.navbar {
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
    margin-bottom: 0px;
    position: relative;
    border: none;
}
.navbar.ur-light {
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);
}
.navbar .navbar-inner {
    height: 46px;
    padding-top: 24px;
    border: none;
    border-bottom: solid 3px #514D3E;
    background: #514D3E;
}
.navbar.ur-light .navbar-inner {
    padding-top: 24px;
    background-color: rgb(233, 236, 226);
    background-image: linear-gradient(bottom, rgb(227,230,217) 0%, rgb(238,240,232) 100%);
    background-image: -o-linear-gradient(bottom, rgb(227,230,217) 0%, rgb(238,240,232) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(227,230,217) 0%, rgb(238,240,232) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(227,230,217) 0%, rgb(238,240,232) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(227,230,217) 0%, rgb(238,240,232) 100%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(227,230,217)),color-stop(1, rgb(238,240,232)));
    background-repeat: repeat-x;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgb(245, 246, 239);
    border-top: 3px solid rgb(245, 246, 239);
}
.navbar .brand {
    margin-top: -10px;
    padding-top: 0px;
    font-size: 1.7em;
}
footer .brand {
    font-size: 1.7em;
}


/*
 * Navbar Sign In / Create account buttons.
 */
.navbar .navbar-inner .ur-top-account a {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding: 3px 10px;
    display: block;
    float: right;
    text-transform: uppercase;
}
.navbar .navbar-inner .ur-top-account a.ur-light {
    background-color: rgb(241, 243, 234);
    color: rgb(96, 99, 91);
}
.navbar .navbar-inner .ur-top-account a.ur-light:hover {
    background-color: rgb(122, 204, 201);
    color: rgb(255, 255, 255);
}
.navbar .navbar-inner .ur-top-account a.ur-dark {
    background-color: rgb(64, 163, 159);
    color: rgb(255, 255, 255);
}
.navbar .navbar-inner .ur-top-account a.ur-dark:hover {
    background-color: rgb(122, 204, 201);
    color: rgb(255, 255, 255);
}
.navbar .navbar-inner .ur-top-account a.ur-username {
    font-size: 0.85em;
}


/*
 * Sidebar panels.
 */
.sidebar-nav.well {
    padding: 18px 0px;
}
.sidebar-nav .nav-header {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;;
    font-weight: 400;
}
@media (min-width: 768px) {
    .ur-sidebar-fixed {
        position: fixed;
    }
}
.ur-sidebar-fixed .ur-sidebar-scroll {
    overflow: auto;
}


/*
 * Main container.
 */
.ur-main {
    padding-bottom: 30px;
    padding-top: 20px;
    min-height: 700px;
}
.ur-stripped {
    background: url('../img/bg-stripped.png') repeat scroll left top transparent;
}


/*
 * White box.
 */
.ur-lightbox {
    background-color: white;
    background-color: rgb(248, 249, 244);
    box-shadow: 0px 1px 4px 1px rgb(180, 182, 169), 2px 2px 1px 0px rgb(255, 255, 255) inset;
    background-image: linear-gradient(rgb(248, 249, 244), rgb(255, 255, 255));
    border-radius: 0px;
    border: none;
    margin-bottom: 15px;
}
.ur-lightbox .ur-header {
    border-bottom: 1px solid rgb(207, 209, 198);
}
.ur-lightbox .ur-header h1 {
    font-weight: 400;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 10px 15px 0px;
    font-size: 1em;
    text-shadow: -1px -1px rgb(255, 255, 255);
    text-transform: uppercase;
}
.ur-lightbox .ur-header h3 {
    font-weight: 300;
    font-size: 1.3em;
    color: rgb(51, 51, 51);
    margin: 0px;
    padding: 10px 15px 0px;
    text-transform: capitalize;
}
.ur-lightbox .ur-content {
    padding: 10px 0px;
}
.ur-lightbox .ur-content.ur-extra-padding {
    padding: 15px;
}
.ur-lightbox .nav-list > .active {
    color: white;
}
.ur-lightbox .nav-list > .active > a,
.ur-lightbox .nav-list > .active > a:hover,
.ur-lightbox .nav-list > .active > a:focus {
    background-color: #3A87AD;
}
.ur-lightbox.ur-extra-margin {
    margin: 40px 0px;
}
.ur-lightbox .ur-actions {
    background-color: #F5F5F5;
    border-top: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 1px 0px rgb(255, 255, 255) inset;
    padding: 15px 15px;

}


/*
 * Form.
 */
form {
    margin: 0px;
}
form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1em;
    font-family: 'Open Sans Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
}
form input[type=email],
form input[type=password],
form input[type=text],
form input[type=url] {
    border-radius: 1px;
    font-family: 'Open Sans Condensed','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 18px;
    height: 22px;
}
form .input-prepend .add-on {
    height: 21px;
    padding-top: 5px;
}
form .ur-actions {
    padding: 20px 0px 20px;
    margin-top: 20px;
    border-top: 1px solid rgb(229, 229, 229);
    min-height: 25px;
}


/*
 * Entries.
 */
.ur-entry {
    margin-bottom: 20px;
    box-shadow: 0px 1px 4px 1px rgb(180, 182, 169);
    background-color: white;
    padding: 20px 35px;
}
.ur-entry h3.ur-title {
    margin-bottom: 0px;
    font-size: 1.8em;
    line-height: 40px;
    margin-top: 0px;
    font-weight: 300;
}
.ur-entry h3.ur-title a {
    color: #3D3B36  ;
}
.ur-entry h3.ur-title a:hover, .ur-entry h3.ur-title a:focus {
    color: #3A87AD;
}
.ur-entry .ur-intro {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #A4A4A4;
}
.ur-entry .ur-intro .ur-info-item {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #A4A4A4;
}
.ur-entry .ur-intro .ur-info-item:last-child {
    border-right: none;
}
.ur-entry .ur-intro .ur-info-item a {
    color: inherit;
}
.ur-entry .ur-intro .ur-info-item a:hover {
    color: #3A87AD;
    text-decoration: none;
}
.ur-entry .ur-intro .ur-info-item i {
    font-size: 1.2em;
}
.ur-entry-date {
    background-color: #333333;
    color: white;
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.85em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.ur-entry-date.ur-today {
    background-color: #5C8A87;
}
.ur-entry-date p {
    margin-bottom: 0px;
}


/*
 * Nav list for channels.
 */
ul.ur-nav-list {
    padding-left: 0px;
    padding-right: 0px;
}
ul.ur-nav-list > li {
    padding-left: 15px;
    padding-right: 10px;
}
ul.ur-nav-list > li.ur-separator {
    border-top: 1px solid #CFD1C6;
    margin-top: 10px;
    padding-top: 10px;
}

/*
 * List with decorative icons in items.
 */
ul.ur-list-icon > li {
    text-transform: capitalize;
}
ul.ur-list-icon > li.nav-header {
    text-transform: uppercase;
}
ul.ur-list-icon > li > i {
    float:right;
    font-size:0.8em;
    margin-top:5px;
}
ul.ur-list-icon.ur-list-icon-light > li > i {
    color: #BFBFBF;
}


/*
 * Hero area.
 */
.ur-hero {
    text-align: center;
    background: url("../img/bg-noise-blue.jpg") repeat scroll left top rgb(118, 163, 160);
    box-shadow: 0px 10px 2px 0px rgba(0, 0, 0, 0.2);
}
.ur-hero h1 {
    text-align: center;
    font-size: 2.1em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px rgb(88, 128, 125);
    margin: 0px 0px 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(92, 138, 135);
    box-shadow: 0px 2px 0px rgb(149, 183, 181);
}
.ur-hero h1 span.ur-highlight {
    color: rgb(255, 236, 176);
}
.ur-hero h2 {
    color: rgb(189, 211, 210);
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 1.4em;
    margin-top: 0px;
}
@media (max-width: 979px) {
    .ur-hero {
        margin-top: -20px;
        margin-left: -20px;
        margin-right: -20px;
        padding-top: 20px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*
 * Hero at bottom.
 */
.ur-hero-bottom {
    background: url("../img/bg-noise.jpg") repeat scroll left top rgb(146, 162, 152);
    box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.2), 0px 3px 0px 0px #9DADA5 inset;
    border-top: 2px solid #92A298;
    color: white;
    padding: 25px 0px;
}
.ur-hero-bottom .ur-item {
    text-align: center;
    margin: 0px 10px;
}
.ur-hero-bottom .ur-item i {
    text-shadow: 4px 4px 0px rgb(95, 99, 89);
    font-size: 5em;
}
.ur-hero-bottom .ur-item h3 {
    display: block;
    font-size: 1.4em;
    font-weight: 700;
    text-shadow: 2px 2px 0px rgb(95, 99, 89);
    text-transform: uppercase;
    border-bottom: 1px solid #B2C4BA;
    padding-bottom: 7px;
}

.ur-hero-bottom .ur-item p {
    font-size: 1.1em;
}


/*
 * Brand.
 */
.brand a,
.brand a:hover,
.brand a:focus {
    text-decoration: none;
}
.ur-brand {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 300;
    color: #333333;
    text-shadow: none;
}
.ur-brand span {
    font-size: 1.4em;
    color: #CF4544;
    position: relative;
    bottom: 0.14em;
    padding: 0px 1px;
    text-shadow: none;
}
.ur-brand.ur-light {
    color: white;
}
.ur-brand-bottom {
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: right;
    font-size: 0.45em;
    margin-top: -4px;
    text-transform: lowercase;
    color: #919191;
}


/*
 * News.
 */
.ur-news ul li {
    margin-left: 20px;
    line-height: 1.4em;
}
.ur-news ul li.nav-header {
    margin-left: -6px;
    margin-top: 15px;
    font-size: 0.8em;
}
.ur-news ul li.nav-header:first-child {
    margin-top: 0px;
}
.ur-news ul li i {
    color: #999999;
}


/*
 * Help.
 */
.ur-help {
    padding: 15px 20px 10px;
    text-align: center;
}
.ur-help i {
    font-size: 3.1em;
    color: #29829B;
    margin-bottom: 8px;
    display: block;
}
.ur-help hr {
    border: none;
    border-top: 1px solid #CFD1C6;
    margin: 10px 30px;
}


/*
 * Noty messages.
 */
.noty_text {
    font-size: 1.4em;
}
.noty_text strong {
    font-weight: 700;
}
